@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(#597671, #fff 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px; 
    text-align: center; 
    color: black; 
}

h2 {
    margin-bottom: 20px; 
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.container .content {
    position: relative;
    max-width: 800px;
    margin-bottom: 20px; 
}
  
a {
    position: relative;
    padding: 5px 20px;
    display: inline-block;  
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: rgb(134, 43, 43);
    transition: 1s;
    background-color: #ff80ab; 
    border-radius: 50px;
}
a:hover {
    transition: 1s;
    background: #4B6E68;
}

.container#blur.active {
    pointer-events: none;
    user-select: none;
}

.container#blur.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(20px);
    z-index: -1;
}

.container#blur.active .input-bx {
    position: relative;
    z-index: 1; 
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 20px; 

    
}
.input-bx2 {
    position: relative;
    width: 163px; 
    height: 35px;
    margin-bottom: 20px; 
    flex: 1; 
}
.input-bx2 input {
    width: 163px;
    height: 35px;
    padding: 10px 20px;
    border: 2px solid #04441b;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: 0.6s;
}

.input-bx2 span {
    position: absolute;
    left: 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #7f8fa6;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.6s;
}

.input-bx2 input:valid ~ span,
.input-bx2 input:focus ~ span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    font-weight: 600;
    padding: 0 10px;
    background: #fff;
    letter-spacing: 0.1rem;
}

.input-bx2 input:valid ~ span,
.input-bx2 input:focus ~ span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    font-weight: 600;
    padding: 0 10px;
    background: #fff;
    letter-spacing: 0.1rem;
}
.input-bx2 input:valid,
.input-bx2 input:focus {
    color: black;
    border: 2px solid black;
}

.input-bx {
    position: relative;
    width: 350px; 
    margin-bottom: 20px; 
    flex: 1; 
}

.input-bx input {
    width: 338px;
    height: 35px;
    padding: 10px 20px;
    border: 2px solid #04441b;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: 0.6s;
}

.input-bx span {
    position: absolute;
    left: 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #7f8fa6;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.6s;
}

.input-bx input:valid ~ span,
.input-bx input:focus ~ span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    font-weight: 600;
    padding: 0 10px;
    background: #fff;
    letter-spacing: 0.1rem;
}

.input-bx input:valid,
.input-bx input:focus {
    color: black;
    border: 2px solid black;
}

.button {
    margin: auto; 
    display: block; 
    margin-top: 20px; 
}

.button:hover {
    background-color: #4B6E68;
}
.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
}
